fLight = 300
fRegular = 400
fMedium = 500
fBold = 700
fBlack = 900

cWhite = #ffffff
White = #fdfaf3
cBlack = #333333

cRed = #a5253b

// fBebas = "BebasNeue"
// fPro = "GothamPro"

@font-face
	font-family: ProximaNova-Regular
	font-style: normal
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype")

@font-face
	font-family: ProximaNova-Bold
	font-style: normal
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')
	src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"),
	url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype")

@font-face
	font-family: ProximaNova-Black
	font-style: normal
	src: url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf')
	src: url("../fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Black/ProximaNova-Black.woff") format("woff"),
	url("../fonts/ProximaNova-Black/ProximaNova-Black.ttf") format("truetype")

@font-face
	font-family: ProximaNova-Semibold
	font-style: normal
	src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf')
	src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"),
	url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype")

body
html
	font-family ProximaNova-Regular
	c cBlack