.advantage
	background: #d3e7f8
	padding-top 45px
	padding-bottom 15px
	.heading
		margin-bottom 46px
	.advantage-wrapper
		display flex
		flex-direction row
		flex-wrap wrap
	
	.advantage-item
		width 33.3%
		text-align center
		margin-bottom 55px
		@media screen and (max-width: 720px)
			width 50%
		@media screen and (max-width: 414px)
			width 100%
		.advantage--img
			position relative
			display block
			width 108px
			height 108px
			brr(50%)
			overflow hidden
			margin 0 auto 25px
			img
				position absolute
				top 50%
				left 50%
				tt(-50%, -50%)
		.advantage--text
			c #3d414e
			font-size 15px
			h4
				font-size 15px
				ffa(ProximaNova-Semibold)
				