.form-button
	display inline-block
	min-width 230px
	height 52px
	line-height 52px
	text-align center
	c White
	background: #fe5e31
	font-family ProximaNova-Semibold
	font-size 18px
	text-decoration none
	cursor pointer
	transition all .25s ease-out
	&:hover
		c #f9d439

.button
	display inline-block
	min-width 120px
	height 32px
	line-height 28px
	text-align center
	c White
	background: #fe5e31
	font-family ProximaNova-Regular
	font-size 18px
	text-decoration none
	cursor pointer
	transition all .25s ease-out
	&:hover
		c #f9d439
		