.footer
	position absolute
	left 0
	bottom 0
	width 100%
	min-height 205px
	background #3d414e
	padding-top 40px
	padding-bottom 20px
	a
		c White
	.container-footer
		box-sizing border-box
		max-width 750px
		margin 0 auto
		width 100%
		padding-left 10px
		padding-right 10px
	
.logo-foot
	margin-bottom 10px
	&__link
		color: White
		font-family: ProximaNova-Black
		font-size: 18px
		text-decoration none

.footer-foot
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	&__items
		@media screen and (max-width: 375px)
			width 50%
			margin-bottom 20px

.small-menu
	li
		&:hover
			a
				c #f9d439
		a
			c White
			ffa(ProximaNova-Semibold)
			font-size 12px
			text-decoration none
			trn(.25s)

.menu-big
	li
		&:not(:last-child)
			margin-bottom 8px
		&:hover
			a
				c #f9d439
		a
			c White
			ffa(ProximaNova-Regular)
			font-size 15px
			text-decoration none
			trn(.25s)

.phone-footer
	c White
	ffa(ProximaNova-Bold)
	font-size 16px
	text-decoration none
	@media screen and (max-width: 480px)
		display inline-block
		margin-top 20px
	@media screen and (max-width: 375px)
		margin-top 0