.form-send
	padding-top 35px
	padding-bottom 40px
	background: #d3e7f8
	.heading
		margin-bottom 46px
	form
		text-align center
	.section-form
		input
			margin-bottom 20px
			height 40px
		textarea
			height 98px
			margin-bottom 36px
		input,
		textarea
			background: White
			padding 12px
			width 100%

#popup-thank
	position relative
	max-width 330px
	margin 40px auto
	.mfp-close
		display none

.thank-send
	display flex
	flex-direction column
	justify-content center
	position relative
	height 120px
	text-align center
	background: #fe5e31
	p
		ffa(ProximaNova-Regular)
		font-size 20px
		c White