.shape-overlays
	size: 100vw 100vh
	position: fixed
	top: 0
	left: 0
	z-index: 11
	pointer-events: none

	path:nth-of-type(1)
		fill: #9dc5e8
	path:nth-of-type(2)
		fill: #fe5e31
	path:nth-of-type(3)
		fill: White