section.contact
	.container
		h3.heading Контакты
		.contact-info
			p Телефон: 
				span +7 (812) 404-7000
			p Режим работы: 
				span 8:00 – 19:30
		.contact-wrapper
			.contact-items
				.contact-items--wr
					.contact-items__map
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A06b8671329b12468bb2853fe841bf893aeaa41d1a061f287384e51ff6993e7ba&amp;source=constructor" width="100%" height="180" frameborder="0"></iframe>
					.contact-items__content
						h4 Новый Петергоф
						p Санкт-Петербургский пр., 60, 4 эт., офис №431
						p.phone-map +7 (812) 956-2975
						.contact-bottom
							a(href="#").button подробнее
			.contact-items
				.contact-items--wr
					.contact-items__map
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A06b8671329b12468bb2853fe841bf893aeaa41d1a061f287384e51ff6993e7ba&amp;source=constructor" width="100%" height="180" frameborder="0"></iframe>
					.contact-items__content
						h4 Новый Петергоф
						p Санкт-Петербургский пр., 60, 4 эт., офис №431
						p.phone-map +7 (812) 956-2975
						.contact-bottom
							a(href="#").button подробнее
			.contact-items
				.contact-items--wr
					.contact-items__map
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A06b8671329b12468bb2853fe841bf893aeaa41d1a061f287384e51ff6993e7ba&amp;source=constructor" width="100%" height="180" frameborder="0"></iframe>
					.contact-items__content
						h4 Новый Петергоф
						p Санкт-Петербургский пр., 60, 4 эт., офис №431
						p.phone-map +7 (812) 956-2975
						.contact-bottom
							a(href="#").button подробнее
			.contact-items
				.contact-items--wr
					.contact-items__map
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A06b8671329b12468bb2853fe841bf893aeaa41d1a061f287384e51ff6993e7ba&amp;source=constructor" width="100%" height="180" frameborder="0"></iframe>
					.contact-items__content
						h4 Новый Петергоф
						p Санкт-Петербургский пр., 60, 4 эт., офис №431
						p.phone-map +7 (812) 956-2975
						.contact-bottom
							a(href="#").button подробнее
			.contact-items
				.contact-items--wr
					.contact-items__map
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A06b8671329b12468bb2853fe841bf893aeaa41d1a061f287384e51ff6993e7ba&amp;source=constructor" width="100%" height="180" frameborder="0"></iframe>
					.contact-items__content
						h4 Новый Петергоф
						p Санкт-Петербургский пр., 60, 4 эт., офис №431
						p.phone-map +7 (812) 956-2975
						.contact-bottom
							a(href="#").button подробнее
			.contact-items
				.contact-items--wr
					.contact-items__map
						img(src="img/map-more.jpg", alt="")
					.contact-items__content
						.contacts-more
							h3
								| филиалы будут
								br
								| дополняться