+b.FOOTER.footer
	.container-footer
		.footer-logo
			+b.DIV.logo-foot_
				+e.A(href="#").__link
					| Альтернатива
		.footer-foot
			.footer-foot__items
				nav.small-menu
					ul
						li
							a(href="#") о нас
						li
							a(href="#") филиалы
						li
							a(href="#") автопарк
						li
							a(href="#") виды обучения
						li
							a(href="#") стоимость обучения
						li
							a(href="#") расписание занятий
						li
							a(href="#") инструкторы

			.footer-foot__items
				nav.menu-big
					ul
						li
							a(href="#") запись онлайн
						li
							a(href="#") контакты
						li
							a(href="#") отзывы

			.footer-foot__items
				nav.menu-big
					ul
						li
							a(href="#") акции
						li
							a(href="#") онлайн-обучение

			.footer-foot__items
				a(href="tel:+78124047000").phone-footer +7 (812) 404-7000