section.instructor
	.container
		h3.heading Автопарк
		.owl-carousel.slider-events
			.item
				.slider-item
					.slider-item__img
						img(src="img/car-img1.png", alt="")
					.slider-item__content
						h3.slider-item__heading
							| Модель машины
						p.slider-item__text
							| самая подходящая модель
							| для начала обучения
						a(href="#").slider-item__link подробнее
			.item
				.slider-item
					.slider-item__img
						img(src="img/car-img2.png", alt="")
					.slider-item__content
						h3.slider-item__heading
							| Модель машины
						p.slider-item__text
							| самая подходящая модель
							| для начала обучения
						a(href="#").slider-item__link подробнее
			.item
				.slider-item
					.slider-item__img
						img(src="img/car-img3.png", alt="")
					.slider-item__content
						h3.slider-item__heading
							| Модель машины
						p.slider-item__text
							| самая подходящая модель
							| для начала обучения
						a(href="#").slider-item__link подробнее
			.item
				.slider-item
					.slider-item__img
						img(src="img/car-img4.png", alt="")
					.slider-item__content
						h3.slider-item__heading
							| Модель машины
						p.slider-item__text
							| самая подходящая модель
							| для начала обучения
						a(href="#").slider-item__link подробнее
			.item
				.slider-item
					.slider-item__img
						img(src="img/car-img2.png", alt="")
					.slider-item__content
						h3.slider-item__heading
							| Модель машины
						p.slider-item__text
							| самая подходящая модель
							| для начала обучения
						a(href="#").slider-item__link подробнее
			.item
				.slider-item
					.slider-item__img
						img(src="img/car-img3.png", alt="")
					.slider-item__content
						h3.slider-item__heading
							| Модель машины
						p.slider-item__text
							| самая подходящая модель
							| для начала обучения
						a(href="#").slider-item__link подробнее