+b.SECTION.top-line
	.container-head
		.flex-wrapper
			+b.DIV.logo-top_
				+e.A(href="index.html").__link
					| Альтернатива
			+b.menu-header
				+b.NAV.nav-top_
					+e.UL.__list
						+e.LI.__list-li
							a(href="#") о школе
							+e.DIV.__sub-menu
								ul
									li
										a(href="#") о нас
									li
										a(href="#") филиалы
									li
										a(href="#") автопарк
									li
										a(href="#") виды обучения
									li
										a(href="#") стоимость обучения
									li
										a(href="#") расписание занятий
									li
										a(href="#") инструкторы
						+e.LI.__list-li
							a(href="#") акции
						+e.LI.__list-li
							a(href="#") онлайн-обучение
						+e.LI.__list-li
							a(href="#") запись онлайн
						+e.LI.__list-li
							a(href="#") контакты
						+e.LI.__list-li
							a(href="#popup-thank").popup отзывы
			.phone-head
				.phone-head__wrapper
					a(href="tel:+78124047000").phone-number +7 (812) 404-7000
					a(href="#popup-send").popup заказать звонок
				.burger-menu
					span
					span
					span